<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header-footer/header :: head"></head>
<head>
    <title>Booking Confirmation</title>
    <style>

        h3 {
            color: #333;
        }

        p {
            margin: 8px 0;
            font-size: 16px;
        }

    </style>
</head>
<body>
    <div th:insert="header-footer/header :: nav"></div>
    <div class="container">
        <p>You've successfully booked <span th:text="${car.name}"></span> from
            <span class="text-success" th:text="${#dates.format(booking.startDateTime, 'dd/MM/yyyy - hh:mm a')}"></span>
            to <span class="text-success" th:text="${#dates.format(booking.endDateTime, 'dd/MM/yyyy - hh:mm a')}"></span>.
        </p>
        <p>Your booking number is: <span class="text-success" th:text="${booking.bookingNo}"></span></p>
        <p>Our operator will contact you with further guidance about pickup.</p>

        <div class="buttons">
            <a href="/" class="btn btn-secondary">Go to homepage</a>
            <a href="/booking/rent-a-car" class="btn btn-secondary">Book another car</a>
            <a th:href="@{/customer/my-bookings/{bookingId}(bookingId=${booking.id})}" class="btn btn-primary">View Booking</a>
        </div>
    </div>

</body>
</html>
