<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header-footer/header :: head"></head>
<body>

<div th:insert="header-footer/header :: nav"></div>
<main class="mt-3 mb-3">
    <div class="container">
        <h1>Have a car for rent? Don't miss out of your benefit</h1>
        <table>
            <td class="col-3">
                <div>
                    <h3 href="">How the insurance works</h3>
                    <p>
                        From the minute you hand the keys </br>
                        over till the second you get them back </br>
                        you are covered. Your private insurance </br>
                        is not affected.
                    </p>
                </div>
                <div>
                    <h3 href="">Handing over your vehicle</h3>
                    <p>
                        You arrange the time and location for</br>
                        the exchange of your vehicle with the</br>
                        renter, Both parties will need to agree</br>
                        and sign the vehicle rental sheet before</br>
                        and after key handover.
                    </p>
                </div>
            </td>
            <td class="col-3">
                <div>
                    <h3 href="">It's completely free</h3>
                    <p>
                        We offer both owners and renters free</br>
                        sign ups. It's only once a vehicle is</br>
                        rented out that a share is deducted to</br>
                        cover admin and insurance
                    </p>
                </div>
                <div>
                    <h3 href="">You are in charge</h3>
                    <p>
                        All renters are pre-screened by us to</br>
                        ensure safety and get your approval. If</br>
                        you do not feel comfortable with</br>
                        someone you are able to decline a</br>
                        booking

                    </p>
                </div>
            </td>
            <td class="col-3">
                <div>
                    <h3 href="">You decide price</h3>
                    <p>
                        When you list a car you decide the</br>
                        price. We can help with</br>
                        recommendations as to price, but</br>
                        ultimately you decide!
                    </p>
                </div>
                <div>
                    <h3 href="">Set payment</h3>
                    <p>
                        We pay you once a month and you</br>
                        can always view how much your</br>
                        car has eamed under your user</br>
                        profile
                    </p>
                </div>
            </td>
        </table>

        <a class="btn btn-primary m-5" th:href="@{/car-owner/my-cars}">Car</a>
    </div>
</main>
<!-- Footer -->
<div th:insert="header-footer/footer :: footer"></div>
</body>
</html>