<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="footer bg-secondary">
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h4>RENT CARS</h4>
                <p>Search Cars and Rates</p>
            </div>
            <div>
                <h4>CUSTOMER ACCESS</h4>
                <p>Manage My Booking</p>
                <p>My Wallet</p>
                <p>My Car</p>
                <p>Log In</p>
            </div>
            <div>
                <h4>JOIN US</h4>
                <p>New User Sign Up</p>
            </div>
        </div>
    </div>
    <footer class="mt-2 bg-dark">
        <p class="text-light">Group2</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
