<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header-footer/header :: head"></head>
<body>
<!-- Header -->
<div th:insert="header-footer/header :: nav"></div>
    <main class="mt-3 mb-3">
        <div class="container">
            <p class="text-dark mt-3 mb-3"><a class="text-primary" href="/">Home</a> / My Wallet</p>
            <h1 class="jutify-content-center ">My Wallet</h1>

            <div class="row">
                <div class="col-sm-6">
                    <h4>Your current bablance:</h4>
                    <h2 class="text-success" id="wallet-balance" th:text="${customer != null ? customer.wallet : carOwner != null ? carOwner.wallet : '0' + ' VND'}">20000000 VND</h2>
                </div>
                <script>
                    $(document).ready(function() {
                        var balanceText = $('#wallet-balance').text();
                        var formattedBalance = Number(balanceText).toLocaleString('en').replace(/,/g, '.');
                        $('#wallet-balance').text(formattedBalance + ' VND');
                    });
                </script>
                <div class="col-sm-6">
                    <a type="button" class="btn btn-primary"
                       href="/mywallet/withdraw"   data-bs-toggle="modal" data-bs-target="#myModal">Withdraw</a>
<!--                    <a class="btn btn-primary me-3" href="/mywallet/withdraw">Withdraw</a>href="/mywallet/topup"-->
                    <a class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#topup">Top-Up</a>
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="from">From:</label>
                    <input id="from" name="from" type="date">
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="to">To:</label>
                    <input id="to" name="from" type="date">
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Withdraw</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-dark mt-3 mb-3">Your current balance is <span class="text-dark" id="balance" th:text="${customer != null ? customer.wallet : (carOwner != null ? carOwner.wallet : 'VND')}">1,500,000</span> VND. Please select the amount to withdraw from your wallet</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="withdrawAmount" placeholder="Enter amount">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">2,000,000</a></li>
                            <li><a class="dropdown-item" href="#">5,000,000</a></li>
                            <li><a class="dropdown-item" href="#">10,000,000</a></li>
                            <li><a class="dropdown-item" href="#">All balance</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmWithdraw">OK</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
           $('.dropdown-item').click(function() {
               var selectedAmount = $(this).text().trim();
               $('#withdrawAmount').val(selectedAmount);
           });

           $('#confirmWithdraw').click(function() {
               var amount = $('#withdrawAmount').val().replace(/,/g, '').replace(/VND/g, '').trim();
               if (amount === 'All balance') {
                   amount = $('#balance').text().replace(/,/g, '').replace(/VND/g, '').trim();
               }
               var currentBalance = $('#balance').text().replace(/,/g, '').replace(/ VND/g, '').trim();

               currentBalance = parseFloat(currentBalance);
               amount = parseFloat(amount);

               if (isNaN(amount) || amount <= 0 || amount > currentBalance) {
                   alert('Please enter a valid amount.');
                   return;
               }

               var newBalance = currentBalance - amount;

               console.log('Amount to withdraw:', amount);
               console.log('New balance after withdrawal:', newBalance);

               $.ajax({
                   type: 'POST',
                   url: '/mywallet/withdraw',
                   data: {
                       amount: amount
                   },
                   success: function(response) {
                       alert('Withdraw successful!');
                       $('#balance').text(newBalance.toLocaleString() + ' VND');
                       window.location.href = '/mywallet/my-wallet';
                   },
                   error: function(error) {
                       alert('Withdraw failed!');
                       console.log('Error:', error);
                   }
               });
           });
       });
    </script>
    <!-- The Modal Top up -->
    <div class="modal" id="topup">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Top-Up</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-dark mt-3 mb-3">Your current balance is <span class="text-dark" id="topupBalance" th:text="${customer != null ? customer.wallet : (carOwner != null ? carOwner.wallet : '0') + ' VND'}">1,500,000 VND</span>. Please enter the amount to top-up.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="topupAmount" placeholder="Enter amount">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="topupDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
                        <ul class="dropdown-menu" aria-labelledby="topupDropdownButton">
                            <li><a class="dropdown-item" href="#">2,000,000</a></li>
                            <li><a class="dropdown-item" href="#">5,000,000</a></li>
                            <li><a class="dropdown-item" href="#">10,000,000</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmTopup">OK</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#topupDropdownButton').click(function() {
                $('.dropdown-item').click(function() {
                    var selectedAmount = $(this).text().trim();
                    $('#topupAmount').val(selectedAmount);
                });
            });

            $('#confirmTopup').click(function() {
                var amount = $('#topupAmount').val().replace(/,/g, '').replace(/VND/g, '').trim();

                if (isNaN(amount) || amount <= 0) {
                    alert('Please enter a valid amount.');
                    return;
                }

                var currentBalance = $('#topupBalance').text().replace(/,/g, '').replace(/ VND/g, '').trim();
                currentBalance = parseFloat(currentBalance);
                amount = parseFloat(amount);

                var newBalance = currentBalance + amount;

                console.log('Amount to top-up:', amount);
                console.log('New balance after top-up:', newBalance);

                $.ajax({
                    type: 'POST',
                    url: '/mywallet/topup',
                    data: {
                        amount: amount
                    },
                    success: function(response) {
                        alert('Top-up successful!');
                        $('#topupBalance').text(newBalance.toLocaleString() + ' VND');
                        window.location.href = '/mywallet/my-wallet';
                    },
                    error: function(error) {
                        alert('Top-up failed!');
                        console.log('Error:', error);
                    }
                });
            });
        });

    </script>
<!-- Footer -->
<div th:insert="header-footer/footer :: footer"></div>
</body>
</html>